@import '../universal.css';

.loading-morph {
  width: 180px;
  height: 180px;
  display: block;
  background: transparent;
}

@media (min-width: 240px) and (max-width: 1199px) {
  .loading-morph {
    width: 140px;
    height: 140px;
  }
}
