@import '../universal.css';

.stacking-cards {
  position: relative;
  display: grid;
  gap: 12px;
  
  
}

.stacking-card-item {
  position: sticky;
  transform-origin: center top;
  
}

.hobby-stack {
  max-width: 960px;
}

.hobby-stack__item {
  height: fit-content;

}

.hobby-stack__card {
  height: 100%;
  border-radius: 8px;
  padding: 24px 32px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.hobby-stack__item:nth-child(1) .hobby-stack__card {
  background: var(--color-primary);
  

}

.hobby-stack__item:nth-child(2) .hobby-stack__card {
  background: var(--color-secondary);
}

.hobby-stack__item:nth-child(3) .hobby-stack__card {
  background: var(--color-tertiary);
}

.hobby-stack__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;

}

.hobby-stack__card h3 {
  margin: 0;
  font-size: 1.2rem;
  color: white;
}

.hobby-stack__card p {
  margin: 0;
  color: white;
  line-height: 1.6;
}


.hobby-stack__files {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 8px;
  color: #4a4a4a;
}

.hobby-stack__files li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 6px 0;
  color: #1f1f1f;
}

.hobby-stack__image {
  width: 80%;
  border-radius: 8px;
  background: #dedede;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

@media (min-width: 240px) and (max-width: 1199px) {
  .hobby-stack__item {
    height: 220px;
  }

  .hobby-stack__card {
    padding: 12px;
    grid-template-columns: 1fr;
  }

  .hobby-stack__image {
    order: -1;
  }
}
